footer {
    position: relative;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h4 {
        color: #FFFFFF;
        opacity: 0.5;
        font-size: 18px;
        font-weight: lighter;
    }

    .social-icons {
        //width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        // margin-left: 50px;
        font-size: 20px;
        color: #E27866;
        
        i {
            margin: 10px 50px;
        }
    }
}

// Media queries

@media (max-width: 820px) {

    footer .container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-content: center;
    }

    .container .social-icons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    footer h4 {
        display: flex;
        justify-content: center;
    }
    
}