header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1C1C1C;
//    height: 72px; // Stengiames nenaudoti fiksuoto aukscio pixeliais, 
//    geriau uzdeti padding top it bottom ant pacio containerio.

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px; // pridedam padding, kad nenaudoti fiksuoto containerio aukscio.
        padding-bottom: 10px; 

        nav {
            a {
                // padding: 20px;
                text-decoration: none;
                color: white;
                font-size: 14px;
                opacity: 0.7;

                &:not(:last-child) {
                    margin-right: 45px;
                }
            }
        }
    }
}

// img {
//     padding-left: 20px;
//     padding-top: 5px;
// }

// nav {
//     padding-top: 14px;
//     padding-left: 460px;
// }

