.Features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    .container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .head-text-big {
            font-size: 36px;
        }

        .line-1 {
            width: 64px;
            height: 3px;
            background-color: #E27866;
        }

        .head-text-small {
            font-size: 14px;
            color: #86878B;
            padding-top: 20px;
            padding-bottom: 50px;
        }

        .features-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;


            .feature-text {
                width: 320px;
                height: auto;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                align-content: center;
                margin: 0 20px;
                padding-top: 40px;
                padding-bottom: 20px;
            

                .small-icon {
                    margin: 0;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    align-content: center;
                    align-items: center;
                    border: 3px solid #E27866;
                    border-radius: 50%;
                }

                .small-icon img {
                    position: relative;
                    padding: 10px;
                    top: 50%;
                    transform: translate(0%, -50%);
                }

                .name-text {
                    font-size: 20px;
                }


            }

        }
    }
}