.hero {
    position: relative;
    margin-top: 72px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    background-image: url("../images/hero-image-buildings.jpg");
    background-size: cover;
    background-position: center center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 60px 0;
    
    }

    .text-box {
        // position: ;
        color: #FFFFFF;
        margin-right: 90px;
        //margin-top: 20px;
                
        img {
            width: 247px;
            height: 108px;
        }

        h1 {
            width: 424px;
            font-size: 36px;
        }

        h4 {
            font-size: 16px;
            margin-right: 20px;
        }

        button {
            font-size: 14px;
            margin-top: 20px;
            font-weight: bold;
            color: #FFFFFF;
            width: 135px;
            height: 42px;
            background: transparent;
            border: 1px solid #FFFFFF;
        }

    }
    // * {
    //     box-sizing: border-box;
    // }
    
    // body {
    //     background-color: antiquewhite;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     min-height: 100vh;
    //     margin: 0;
    // }
    
    .form-container {
        margin: 0;
        //background-color: aqua;
        border-radius: 5px;
        width: 720px;
        max-width: 100%;
        overflow: hidden;

        // .form-button {
        //     cursor: pointer;
        //     background-color: #41D395;
        //     border: 2px solid transparent;
        //     border-radius: 5px;
        //     color: white;
        //     display: block;
        //     font-size: 16px;
        //     font-weight: bold;
        //     padding: 10px;
        //     margin: 10px 0;
        //     width: 100%;
        
        // }
    }
    
    .header {
        background-color: #dddbdb;
        //border-bottom: 1px solid black;
        //padding: 10px 10px;
        //height: 57px;

        h3 {
            margin: 0;
            padding: 17px 35px;
        }
    }
        
    .header h2 {
        margin: 0;
    }
    
    .form {
        //padding: 20px 35px;
        background-color: #FFFFFF;

        .smaler-text {
            font-size: 16px;
            margin: 0;
            padding: 10px 0 10px 50px;
        }

        .form-row {
            padding: 10px 0 10px 50px;
        }
    }
      
    .form-control {
        margin-bottom: 10px;
        //padding-bottom: 20px;
        //padding-left: 50px;
        padding: 20px 50px 20px 50px;
        position: relative;
    }
    .form-control label {
        display: inline-block;
        margin-bottom: 5px;
    }
    
    .form-control input {
        border: none;
        border-bottom: 2px solid  #D8D8D8;
        // border-radius: 4px;
        background-color: white;
        display: block;
        font-size: 14px;
        //padding: 5px 0px 5px 10px;
        width: 100%;
    }
    
    .form-control.success input {
        border-color: green;
    }
    
    .form-control.error input {
        border-color: red;
    }
    
    .form-control i {
        visibility: hidden;
        position: absolute;
        top: 15px;
        right: 50px;
    }
    
    .form-control.success i.fa-check-circle {
        color: green;
        visibility: visible;
    }
    
    .form-control.error i.fa-exclamation-circle {
        color: red;
        visibility: visible;
    }
    
    .form-control span {
        font-size: 10px;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 50px;
    }
    
    .form-control.error span {
        color: red;
        visibility: visible;
    }
    
    .form-container .form-button {
        //cursor: pointer;
        position: relative;
        background-color: #41D395;
        border: 2px solid transparent;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
        
    .form-container .form-button button { 
        cursor: pointer;      
        color: white;
        display: block;
        font-size: 18px;

        //font-weight: bold;
        padding: 10px;
        text-decoration: none;
        border: 2px solid transparent;
        background-color: #41D395;
        text-transform: uppercase;
        //margin: 10px 0;
        //width: 100%;
    }

        .radio {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 25px;
        }

        .radio-input {
            display: none;
        }

        .checkmark {
            width: 13px;
            height: 13px;
            border: 1px solid #41D395;
            border-radius: 50%;
            margin-right: 5px;
            box-sizing: border-box;
            padding: 2.5px;
        }

        .checkmark::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background: #41D395;
            border-radius: 50%;

            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }

        .radio-input:checked + .checkmark::after {
            transform: scale(1);
        }

        .radio-input:checked ~ label {
            opacity: 1;
        }

        label {
            font-size: 10px;
            opacity: 0.5;
            text-transform: uppercase;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
        }
       
}



// Media queries section hero

@media (max-width: 800px) {

    .hero {
        margin-top: 0;
    }

    .hero .container {
        flex-direction: column;
        align-items: center;
        padding: 60px 10px 0 10px;
        // margin-top: 80px;
        // margin-bottom: 80px;
    }


    .hero .text-box {
        // position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px 0;
    }

    .text-box h1 {
        text-align: center;
    }

    .text-box h5 {
        text-align: center;
        margin: 10px 0;
    }

    .container .form-box {
        // position: absolute;
        margin-bottom: 60px;
    }



}