.hero {
    position: relative;
    margin-top: 72px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    background-image: url("../images/hero-image-buildings.jpg");
    background-size: cover;
    background-position: center center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 60px 0;
    
    }

    .text-box {
        // position: ;
        color: #FFFFFF;
        margin-right: 90px;
        //margin-top: 20px;
                
        img {
            width: 247px;
            height: 108px;
        }

        h1 {
            width: 424px;
            font-size: 36px;
        }

        h4 {
            font-size: 16px;
            margin-right: 20px;
        }

        button {
            font-size: 14px;
            margin-top: 20px;
            font-weight: bold;
            color: #FFFFFF;
            width: 135px;
            height: 42px;
            background: transparent;
            border: 1px solid #FFFFFF;
        }

    }

    .form-box {
        position: relative;
        max-width: 360px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        //margin-top: 20px;

        .biger-text {
            position: relative;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding-left: 20px;
            max-width: 340px;
            width: 100%;
            height: 57px;
            background-color: #D8D8D8;
            border-radius: 10px 10px 0px 0px;

        }
        
        .smaler-text {
            font-size: 16px;
            padding-left: 50px;
            padding-top: 30px;
        }

        .text-input-lines {
            padding-left: 50px;
            

            .form-control {
                padding-bottom: 10px;
                position: relative;

                i {
                    visibility: hidden;
                    position: absolute;
                    top: 15px;
                    right: 35px;
                }

                span {
                    visibility: hidden;
                    position: absolute;
                    font-size: 12px;
                    color: red;
                    bottom: -7px;
                    left: 15px;
                }

                .text-input.success {
                    border-bottom: 3px solid #41D395; 
                }
    
                .text-input.error {
                    border-bottom: 3px solid red;
                }

                // .form-control.success i.far.fa-check-circle {
                //     visibility: visible;
                //     // color: #41D395;
                // }

                // .form-control.success i.far.fa-check-circle

            }

            .form-control.success i.fa-check-circle {
                visibility: visible;
                color: #41D395;
            }

            .form-control.error i.fa-exclamation-circle {
                visibility: visible;
                color: red;
            }
            
            .text-input {
                opacity: 0.6;
                color: #D8D8D8;
                border: none;
                width: 260px;
                padding-left: 15px;
                margin-top: 17px;
                border-bottom: 2px solid #D8D8D8;
            }
            
            // .text-input.success {
            //     border-bottom: 2px solid #41D395; 
            // }

            // .text-input.error {
            //     border-bottom: 2px solid red;
            // }


        }

        input[type="text"]:invalid {
            border-bottom: 2px solid red;
        }

        .submit-buton {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 36px;

            .get-started {
                cursor: pointer;
                height: 60px;
                max-width: 360px;
                width: 100%;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 18px;
                border: none;
                text-decoration: none;
                background-color: #41D395;
                border-radius: 0px 0px 10px 10px;
            }
        }

        .form-row {
            display: flex;
            align-items: center;
            padding-left: 50px;

        }

        .radio {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 25px;
        }

        .radio-input {
            display: none;
        }

        .checkmark {
            width: 13px;
            height: 13px;
            border: 1px solid #41D395;
            border-radius: 50%;
            margin-right: 5px;
            box-sizing: border-box;
            padding: 2px;
        }

        .checkmark::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background: #41D395;
            border-radius: 50%;

            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }

        .radio-input:checked + .checkmark::after {
            transform: scale(1);
        }

        .radio-input:checked ~ label {
            opacity: 1;
        }

        label {
            font-size: 10px;
            opacity: 0.5;
            text-transform: uppercase;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
        }
       
    }

}

// Media queries section hero

@media (max-width: 800px) {

    .hero {
        margin-top: 0;
    }

    .hero .container {
        flex-direction: column;
        align-items: center;
        padding: 60px 10px 0 10px;
        // margin-top: 80px;
        // margin-bottom: 80px;
    }


    .hero .text-box {
        // position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px 0;
    }

    .text-box h1 {
        text-align: center;
    }

    .text-box h5 {
        text-align: center;
        margin: 10px 0;
    }

    .container .form-box {
        // position: absolute;
        margin-bottom: 60px;
    }



}