.social-media {
    width: 100%;
    z-index: 2;


    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    

        .social-text {
            // width: 40%;
            // margin-left: 50px;

            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 14px;
                color: #86878B;
            }
        }

        .social-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 30px;
            color: #E27866;
            
            i {
                margin-left: 100px;
            }
        }
    }
}